* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 110%;
  scroll-behavior: smooth;
}

body {
  font-family: poppins, sans-serif;
}

.fullpage {
  width: 100%;
  min-height: 100%;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}

.esittelyteksti {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: justify;
  margin-bottom: 4vh;
}

.työ {
  height: 90vh;
  width: 90vw;
  margin-top: 8vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
  margin-bottom: 2vh;
}

#työ2 {
  padding-top: 6vh;
  height: 101vh;
}

.kuvaus {
  width: 45vw;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: space-between;
}

.otsikot {
  height: 60vh;
}

.otsikot img {
  height: 20%;
  margin-left: 44vw;
  margin-top: 30vh;
}

#ekaotsikko {
  margin-top: 20vh;
  font-size: 5rem;
  margin-left: 35vw;
}

.työetusivu {
  height: 90vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  margin-bottom: 2vh;
  margin-top: 40vh;
}
.työetusivu h1 {
  font-size: 6rem;
}

.työetusivu p {
  width: 40vw;
  margin-left: 25vw;
  font-weight: 600;
}

.työetusivu img {
  width: 2%;
  margin-top: 5vh;
}

.etusivuetusivu {
  height: 75vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-align: center;
  margin-bottom: 2vh;
}

.etusivuetusivu p {
  font-weight: 600;
}

.etusivuetusivu h1 {
  font-size: 6rem;
}

#koti {
  display: flex;
  flex-direction: column;
}

.logo img {
  width: 5vw;
  height: auto;
  margin-right: 85vw;
}

.logo {
  height: 15vh;
}

.nappulat {
  height: 90vh;
  width: 50vw;
  display: flex;
  flex-direction: row;
  margin-top: 15vh;
  margin-left: 19vw;
}

.nappulat a {
  text-decoration: none;
  list-style-type: none;
  color: black;

  font-size: 1.5rem;
}

.nappulat ul {
  list-style-type: none;

  width: 40vw;
  text-align: center;
  justify-content: space-evenly;
  display: flex;
  margin-left: 12vh;

  height: 0;
}

.nappulat li a:hover {
  color: black;
}

#fullpage2 {
  background-color: white;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: black;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  top: 40px;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#yhteystiedot {
  margin-bottom: 20vh;
}

#yhteystiedot p {
  font-size: 1.3rem;
  padding-top: 1vh;
  font-weight: 600;
}

#yhteystiedot a {
  font-size: 1.3rem;
  text-decoration: none;
  color: black;
  padding-top: 1vh;
  width: fit-content;
  text-align: center;
  margin-left: 40vw;
  font-weight: 600;
}

#yhteystiedot a:hover {
  color: gainsboro;
}

#yhteystiedot img {
  margin-left: 44vw;
  width: 3vw;
  height: auto;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 600;
  font-size: 1rem;
}

.selite {
  height: 22vh;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  font-weight: 500;
}

.selite_otsikko {
  width: 15vw;
}

.selite_teksti {
  width: 35vw;
  text-align: justify;
}

.toteutus {
  height: 7.5vh;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  font-weight: 500;
}

.toteutus_otsikko {
  width: 15vw;
}

.toteutus_teksti {
  width: 35vw;
}

.kuva {
  width: 45vw;
}
.kuva img {
  width: 35vw;
  height: 90vh;
  object-fit: cover;
  margin-left: 10vw;
}

.matias_kuva {
  width: 45vw;
}

.matias_kuva img {
  width: 35vw;
  height: 90vh;
  object-fit: cover;
  margin-left: 10vw;
}

.kokokuva {
  height: 90vh;
  width: 90vw;
  margin-top: 8vh;
  margin-bottom: 2vh;
}

.kokokuva img {
  height: 90vh;
  width: 90vw;
  object-fit: contain;
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 90vw;
  height: 7vh;
  padding-top: 2vh;
  /*border-bottom: 1.5px solid black;*/
  margin-left: 5vw;
  position: fixed;
  background-color: white;
}

.nimi {
  width: 55vw;
  font-size: 0.7rem;
  font-weight: 300;
}

.nimi img {
  height: 4vh;
  width: auto;
}
.navigaatio {
  display: flex;
  flex-direction: row;
  width: 30vw;
  justify-content: space-evenly;
  margin-left: 25vw;
}

.navigaatio li {
  list-style: none;
  font-size: 0.9rem;
}

.navigaatio li a {
  text-decoration: none;
  color: black;

  font-weight: 600;
}

li a:hover {
  color: gainsboro;
}

.yhteystiedot {
  height: 22vh;
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  font-weight: 300;
}

.puhelin {
  font-size: 3rem;
}

.numero {
  font-size: 3rem;
}

@media screen and (max-width: 768px) {
  .etusivuetusivu h1 {
    font-size: 4rem;
    line-height: 11vh;
    padding-bottom: 7vh;
  }

  .nappulat {
    margin-left: 0vw;
  }

  .nappulat ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .nappulat ul li {
    width: 50vw;
    font-size: 2.5rem;
    font-weight: 600;
  }

  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 17vw;
    top: 70px;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  #koti img {
    width: 10vw;
    height: auto;
    margin-left: 15vw;
  }

  .navigaatio {
    margin-left: 0vw;
    width: 80vw;
    font-size: 2rem;
  }

  .työ {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    overflow: visible;
  }

  .kuvaus {
    width: 90vw;
  }

  .otsikot {
    height: 10vh;
    width: 90vw;
    margin-left: 0vw;
  }

  .esittelyteksti {
    font-size: 1.2rem;
  }

  .matias_kuva {
    width: 90vw;
  }

  .matias_kuva img {
    width: 90vw;
    height: auto;
    margin-left: 0vw;
  }

  .työetusivu {
    margin-top: 15vh;
  }

  .työetusivu img {
    visibility: hidden;
  }

  .työetusivu p {
    width: 60vw;
    margin-left: 15vw;
  }

  .kuva {
    height: 0vh;
    visibility: hidden;
  }

  .selite_otsikko {
    font-size: 1rem;
    width: 30vw;
  }

  .selite_teksti {
    font-size: 1rem;
    width: 55vw;
  }

  .selite {
    height: 30vh;
    margin-top: 20vh;
  }

  .toteutus_otsikko {
    font-size: 1rem;
    width: 30vw;
  }
  .toteutus_teksti {
    font-size: 1rem;
    width: 55vw;
  }

  .toteutus {
    height: 15vh;
  }

  .navbar {
    width: 95vw;
    margin-left: 2.5vw;
  }

  .kokokuva {
    height: auto;
    margin-top: 0vh;
  }

  .kokokuva img {
    width: 90vw;
    height: auto;
  }

  #yhteystiedot {
    display: flex;
    flex-direction: column;
    height: 90vh;
    overflow: visible;
    margin-bottom: 5vh;
  }

  #yhteystiedot h1 {
    font-size: 4.5rem;
  }

  #yhteystiedot a {
    margin-left: 30vw;
  }

  #yhteystiedot img {
    width: 7.5vw;
    margin-left: 42vw;
    visibility: visible;
  }
}
