*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 110%;
    scroll-behavior: smooth;
}



body{
    font-family:poppins, sans-serif;
    
    
    
    
}



.fullpage{
    width: 100%;
    min-height: 100%;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    
}



.esittelyteksti {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: justify;
    margin-bottom: 4vh;
    
}

.työ {
    height: 90vh;
    width: 90vw;
    margin-top: 8vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
    margin-bottom: 2vh;
   
    
    
    
    

}

#työ2 {
    padding-top: 6vh;
    height: 101vh;
}



.kuvaus {
    width: 45vw;
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-between;
    

}

.otsikot {
    height: 60vh;
    
    
}

.otsikot img {
    height: 20%;
    margin-left: 44vw;
    margin-top: 30vh;
}

#ekaotsikko {
    margin-top: 20vh;
    font-size: 5rem;
    margin-left: 35vw;
    
   
    
}

.työetusivu {
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    margin-bottom: 2vh;
    margin-top: 40vh;
   
    
    
}
.työetusivu h1 {
    font-size: 6rem;
    

    
}

.työetusivu p {
    width: 40vw;
    margin-left: 25vw;
    font-weight: 600;
   
    
}


.työetusivu img {
    
    width: 2%;
    margin-top: 5vh;
}

.etusivuetusivu {
    height: 75vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    margin-bottom: 2vh;
    
    
    
}

.etusivuetusivu p {
    font-weight: 600;
}

.etusivuetusivu h1 {
    font-size: 6rem;
}

#koti {
    display: flex;
    flex-direction: column;
}

.logo img{
    width: 5vw;
    height: auto;
    margin-right: 85vw;
    



}

.logo {
    height: 15vh;
    
}






.nappulat {
    height: 90vh;
    width: 50vw;
    display: flex;
    flex-direction: row;
    margin-top: 15vh;
    margin-left: 19vw;
    
    
}


.nappulat a {
    text-decoration: none;
    list-style-type: none;
    color: black;
 
    font-size: 1.5rem;
   
    
    
}

.nappulat ul{
    list-style-type: none;
    
    width: 40vw;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    margin-left: 12vh;
  
    height: 0;
}

.nappulat li a:hover {
    color: black;
}

#fullpage2 {
   background-color:white;
}





.hover-underline-animation {
    display: inline-block;
    position: relative;
    color:black;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    top: 40px;
    background-color:black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  #yhteystiedot {
    
      margin-bottom: 20vh;
  }

 
 
  #yhteystiedot p {
     font-size: 1.3rem;
     padding-top: 1vh ;
 }

 #yhteystiedot a {
     font-size: 1.3rem;
     text-decoration: none;
     color: black;
     padding-top: 1vh;
     width: fit-content;
     text-align: center;
     margin-left: 38vw;
 }

 #yhteystiedot a:hover {
     color: gainsboro;
 }

 #yhteystiedot img {
     margin-left: 44vw;
     width: 3vw;
     height: auto;
 }

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 600;
    font-size: 1rem;
}

.selite {
    height: 22vh;
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    font-weight: 500;
    
}

.selite_otsikko {
    width: 15vw;
}

.selite_teksti {
    width: 35vw;
    text-align: justify;
    
    
}

.toteutus {
    height: 7.5vh;
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    font-weight: 500;
}

.toteutus_otsikko {
    width: 15vw;
}

.toteutus_teksti {
    width: 35vw;
}

.kuva {
   width: 45vw; 
   
}
.kuva img {
    width: 35vw;
    height: 90vh;
    object-fit: cover;
    margin-left: 10vw;


}

.kokokuva {
    height: 90vh;
    width: 90vw;
    margin-top: 8vh;
    margin-bottom: 2vh;
}

.kokokuva img {
    height: 90vh;
    width: 90vw;
    object-fit:contain;
    
}

.navbar{
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 7vh;
    padding-top: 2vh;
    /*border-bottom: 1.5px solid black;*/
    margin-left: 5vw;
    position: fixed;
    background-color: white;
    

}

.nimi {
    width: 55vw;
    font-size: 0.7rem;
    font-weight: 300;
   
}

.nimi img {
    height: 4vh;
    width: auto;
}
.navigaatio {
    display: flex;
    flex-direction: row;
    width: 30vw; 
    justify-content: space-evenly;
    margin-left: 25vw;
    
}

.navigaatio li {
    list-style: none;
    font-size: 0.9rem;
}

.navigaatio li a {
    text-decoration: none;
    color: black;
    
    
    font-weight: 600;
}

li a:hover {
    color:gainsboro;
}


.yhteystiedot {
    height: 22vh;
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    font-weight: 300;
    
}

.puhelin {
    font-size: 3rem;
}

.numero {
    font-size: 3rem;
}




/*
h1 {
    margin-left: 50px;
    margin-top: 100px;
    font-weight: 300;
    font-size: 2rem;
}

h2 {
    margin-left: 50px;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 300;
}

p {
    font-weight: 300;
    font-size: 0.8rem;
}

/*

header {
    background-color: coral;
    position: fixed;
    top: 0;
    width: 100%;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    padding: 0 2rem;
}


.logo a {
    font-family: "roboto slab", serif;
    font-size: 2rem;
}

.logo a:link,
.logo a:visited {
    color:white;
    text-decoration: none;
    font-weight: 900;
}

.logo a:hover,
.logo a:active {
    color: black;
    text-decoration: none;
}

.navilinkit {
    display: flex;
}

.navilinkit a{
    font-size: 1.2rem;
    padding: 0.8rem;
}

.navilinkit a:link,
.navilinkit a:visited {
    color: black;
    font-weight: bold;
    text-decoration: none;


}

.navilinkit a:hover,
.navilinkit a:active,
.navilinkit a.aktiivinen {
    color:white;
    background-color: slateblue;
    text-decoration: none;

    
}

.burgeri {
    display: none;
}

main p{
    margin-bottom: 1.2rem;
    line-height: 1.3;
}

main {
    display: grid;
    max-width: 1000px;
    margin: 5rem auto 0;
    padding: 2rem;
    
    
}

img{
    width: 100%;
    height: auto;
}

.etusivu {
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.paakuva {
    grid-column: 1 / 4;
    grid-row: 1 / 3 ;
    background-color: bisque;
    background: url("kuvat/hedelmakori.jpg") no-repeat center center;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paakuva p {
    font-size: 1.5rem;
    font-weight: bold;
    color: aliceblue;
}

.kuvanosto {
    display: flex;
    flex-direction: column;
}

.nosto {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nosto h2 {
    margin-bottom: 1.2rem;
}

.nosto img {
    height: 150px;
}

.nosto p {
    font-size: 0.9rem;
}


.etusivu img {
    object-fit: cover;
}

.etusivu h1 {
    font-size: 3rem;
    color: aliceblue;
}


.sisaltosivu {
    grid-template-columns: 3fr 2fr;
    column-gap: 50px;
}

.sisaltosivu h1 {
    grid-column: 1 / 3;
    font-size: 2.5rem;
    color: coral;
    margin-bottom: 3rem;
}

.sisaltosivu h2 {
    color: black;
    font-size: 1.8rem;
    margin-bottom: 2rem;
    margin-top: 2.5rem;
    border-bottom: coral solid 1px;
}


main a:link {
    font-weight: bold;
    color: brown;
    text-decoration: none;
}

main a:visited {
    color:darkgray;
}

main a:hover,
main a:active {
    text-decoration: underline;
    color: brown;
}

footer {
    background-color: coral;
    color: black;
    padding: 0.5rem;
    text-align: center;
}
*/

@media screen and (max-width: 750px) {

    
  /*  .navilinkit {
       display: none;
       position: absolute;
       right: 0;
       top: 2.666666667rem;
       width: 100%;
       background-color: coral;
       flex-direction: column;
        text-align: right;
    }

    .navilinkit a {
        padding-right: 2rem;
    }

    .navilinkit.navi-esiin {
        display: flex;
    }

    .burgeri {

        display: block;
        color: black;
        font-size: 1.8rem;
    }

    .burgeri:hover {
        color: white;
        cursor: pointer;
    }
    
    .etusivu {
        grid-template-columns: 1fr 1fr;
        
    }

    .etusivu h1 {
        font-size: 2rem;
    }

    .kuvanosto {
        display: none;
    }


    .paakuva {
        grid-column: 1 / 3;
        background: coral;
    }

    .paakuva p{
        font-size: 1.3rem;
    }

    .nosto {
        grid-column: 1 / 3;
        margin-top: 2rem;
    }


    .sisaltosivu {
        grid-template-columns: 1fr;
    }

    .sisaltosivu h1 {
        grid-column:  1 / 2;
    }

    .teksti {
        grid-row: 3 / 4;
        margin-top: 3rem;
        font-size: 0.9rem;
    }

    footer {
        font-size: 0.7rem;
    } */

    .etusivuetusivu h1 {
        font-size: 4rem;
        line-height: 11vh;
        padding-bottom: 7vh;

    }

    .etusivuetusivu {
        background-color: hotpink;
    }

    .nappulat ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-right: 25vw;
        
        
        
    }

    .nappulat a {
        background-color: hotpink;
    }

    #koti img {
        width: 10vw;
        height: auto;
        margin-left: 15vw;
    }

}






